<section class="principal">
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>
  <app-pelicula></app-pelicula>

</section>
