footer {
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  align-self: baseline;
  position: absolute;
  margin-top: 10%;

  p {
    padding: 1.5%;
    font-size: 1vw;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }
}
