<section class="pelicula" (click)="mostrarDetalles()">
  <div class="imagen">
    <img [src]="img" alt="Img-Película">
  </div>
  <div class="contenido">
    <h3>Título de la Película</h3>
    <h4>Genero</h4>
    <h4>Lenguaje</h4>
  </div>
</section>

<div class="overlay" *ngIf="activador" (click)="mostrarDetalles()">
  <div class="popup">

    <div class="informacion">
      <div class="imagen">
        <img [src]="img" alt="Img-Película">
      </div>

      <div class="contenido">
        <h2>Título de La Película</h2>
        <h4>Sinopsis:</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, harum. Laboriosam, quaerat? Sequi quas nemo ab, quo dolorum accusamus sed.
        </p>
        <h4>Presupuesto:</h4>
        <p>Lorem ipsum dolor sit amet.</p>
        <h4>Rating:</h4>
        <p>Lorem, ipsum.</p>
        <h4>Compañia de Producción:</h4>
        <p>Lorem ipsum dolor sit.</p>
        <h4>Fecha de Lanzamiento:</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, corporis.</p>
        <h4>Estado de la Película:</h4>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>

    <div class="botones" *ngIf="user">
      <button>Reservar</button>
      <button>Agregar a Favorito</button>
    </div>

  </div>
</div>
