<section class="pelicula" (click)="mostrarDetalles()">
  <div class="imagen">
    <img [src]="img" alt="Img-Película">
  </div>
  <div class="contenido">
    <div class="titulo">Titulo</div>
    <div class="sinopsis">Sinopsis</div>
    <div class="genero">Genero</div>
    <div class="idioma">Lenguaje</div>
    <div class="presupuesto">Presupuesto</div>
    <div class="rating">Rating</div>
    <div class="compania">Compañia de Producción</div>
    <div class="fecha">Fecha de Lanzamiento</div>
    <div class="estado">Estado de la Película</div>
  </div>
</section>

<div class="overlay" *ngIf="activador">
  <div class="popup">
    <h1>Testeando...</h1>
  </div>
</div>
